<h1 class="header_title"><em>Welcome to MEAN Tea!</em></h1>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" ng-click="view.goHome()">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#" ng-click="view.showAboutUsTrue()">About</a></li>
        <li><a href="mailto:customerService@MeanTea.com">Contact</a></li>
    </div>
  </div>
</nav>
<div class="header" ng-show="view.viewOrderScreen === true">
  <h4 class="search_titles">Search by Category</h4>
  <select class="" name="" ng-model="searchDropdown">
    <option></option>
    <option>dark</option>
    <option>cold</option>
    <option>awesome</option>
    <option>dry</option>
    <option>hot</option>
    <option>summer</option>
    <option>lucid</option>
    <option>warm</option>
    <option>winter</option>
    <option>spring</option>
  </select>
  <h4 class="search_titles">Search by Name</h4>
  <input type="text" name="name" value="" ng-model="searchText">
  <button type="button" class="btn btn-danger right shopping_cart" ng-click="view.openCheckoutScreen()">Checkout | Bag: {{view.bag}}</button>
</div>
<div class="" ng-show="view.viewOrderScreen === true">
  <table class="tea_table">
    <tr>
      <th class="table_header"><h4>Tea</h4></th>
      <th class="table_header">
        <h4>Information</h4>
        <h4 class="sort_by_price">Sort By Price:</h4>
        <button type="button" name="button" ng-click='view.sortByLowest()'>Lowest</button>
        <button type="button" name="button" ng-click='view.sortByHighest()'>Highest</button>
      </th>
    </tr>
    <tr ng-repeat="tea in view.data | orderBy: view.sortBy | filter:searchDropdown | filter:searchText">
      <td class="table_image"><img class="tea_image" src="{{tea.imageUrl}}" alt="Picture of Tea" /></td>
      <td class="table_info">
        <div class="left">
          <ul class="tea_info_list">
            <li><h2><strong>{{tea.name}}</strong></h2></li>
            <li><h4><strong>Price:</strong> {{tea.price/100 | currency}}</h4></li>
            <li><h4><strong>Ingredients:</strong> {{tea.ingredients}}</h4></li>
            <li><h4><strong>Rating:</strong> {{tea.rating}}</h4></li>
            <li><h4><strong>Caffeine:</strong> {{tea.caffeineScale}}</h4></li>
            <li><h4><strong>In Stock?</strong> {{tea.inStock | inStockFilter}}<h4></li>
            <li><h4><strong>Categories:</strong></h4></li>
          </ul>
          <ul ng-repeat="category in tea.categories">
            <li class="category_item">{{category}}</li>
          </ul>
        </div>
        <div class="right">
          <h2>Quantity:</h2>
          <select ng-model="quantity">
            <option selected="selected">1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
          <button type="button" class="btn btn-warning" ng-click="view.addToCart(tea, quantity)">Add to Bag</button>
          <h4 ng-show="view.seeAlert === true">You must enter a quantity!</h4>
        </div>
      </td>
    </tr>
  </table>
</div>
<div class="checkoutScreen" ng-show="view.viewCheckoutScreen === true">
  <div>
    <h1 class="myShoppingBag">My Shopping Bag</h1>
    <h1 class="orderTotal">Order Total = {{view.orderTotal | currency}}</h1>
  </div>
  <table class="tea_table">
    <tr>
      <th class="table_header">
        <h4>Tea</h4>
      </th>
      <th class="table_header">
        <h4>Information</h4>
      </th>
      <th class="table_header">
        <h4>Quantity</h4>
      </th>
      <th class="table_header">
        <h4>Subtotal</h4>
      </th>
      <th>
      </th>
    </tr>
    <tr ng-repeat="tea in view.shoppingCart">
      <td class="table_image">
        <img src="{{tea.imageUrl}}" alt="Picture of Tea" />
      </td>
      <td class="table_info">
        <div class="left">
          <ul class="tea_info_list">
            <li><h2><strong>{{tea.name}}</strong></h2></li>
            <li><h4><strong>Price:</strong> {{tea.price/100 | currency}}</h4></li>
            <li><h4><strong>Ingredients:</strong> {{tea.ingredients}}</h4></li>
            <li><h4><strong>Rating:</strong> {{tea.rating}}</h4></li>
            <li><h4><strong>Caffeine:</strong> {{tea.caffeineScale}}</h4></li>
            <li><h4><strong>In Stock?</strong> {{tea.inStock}}<h4></li>
            <li><h4><strong>Categories:</strong></h4></li>
          </ul>
          <ul ng-repeat="category in tea.categories">
            <li class="category_item">{{category}}</li>
          </ul>
        </div>
      </td>
      <td class="shoppingCartTableData">
        <h4>{{tea.quantity}}</h4>
      </td>
      <td class="shoppingCartTableData">
        <h4>{{tea.quantity*tea.price/100 | currency}}</h4>
      </td>
      <td class="editRemoveDiv">
        <button type="button" class="btn btn-warning edit" ng-click="view.viewEditCheckoutScreen()">Edit</button>
        <button type="button" class="btn btn-danger remove" ng-click="view.removeFromCart(tea)">Remove</button>
      </td>
    </tr>
  </table>
  <button type="button" class="btn btn-default placeOrder" ng-click="view.showPaymentScreenTrue()">Place Order</button>
</div>
<div class="checkoutScreen" ng-show="view.editCheckoutScreen === true">
  <div>
    <h1 class="myShoppingBag">My Shopping Bag</h1>
    <h1 class="orderTotal">Order Total = {{view.orderTotal | currency}}</h1>
  </div>
  <table class="tea_table">
    <tr>
      <th class="table_header">
        <h4>Tea</h4>
      </th>
      <th class="table_header">
        <h4>Information</h4>
      </th>
      <th class="table_header">
        <h4>Quantity</h4>
      </th>
      <th class="table_header">
        <h4>Subtotal</h4>
      </th>
      <th>
      </th>
    </tr>
    <tr ng-repeat="tea in view.shoppingCart">
      <td class="table_image">
        <img src="{{tea.imageUrl}}" alt="Picture of Tea" />
      </td>
      <td class="table_info">
        <div class="left">
          <ul class="tea_info_list">
            <li><h2><strong>{{tea.name}}</strong></h2></li>
            <li><h4><strong>Price:</strong> {{tea.price/100 | currency}}</h4></li>
            <li><h4><strong>Ingredients:</strong> {{tea.ingredients}}</h4></li>
            <li><h4><strong>Rating:</strong> {{tea.rating}}</h4></li>
            <li><h4><strong>Caffeine:</strong> {{tea.caffeineScale}}</h4></li>
            <li><h4><strong>In Stock?</strong> {{tea.inStock}}<h4></li>
            <li><h4><strong>Categories:</strong></h4></li>
          </ul>
          <ul ng-repeat="category in tea.categories">
            <li class="category_item">{{category}}</li>
          </ul>
        </div>
      </td>
      <td class="shoppingCartTableData">
        <select ng-model="quantityUpdated">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
      </td>
      <td class="shoppingCartTableData">
        <h4>{{tea.quantity*tea.price/100 | currency}}</h4>
      </td>
      <td class="editRemoveDiv">
        <button type="button" class="btn btn-warning edit" ng-click="view.saveUpdatedQuantity(tea, quantityUpdated)">Save</button>
        <button type="button" class="btn btn-danger remove" ng-click="view.removeFromCart(tea)">Remove</button>
      </td>
    </tr>
  </table>
  <button type="button" class="btn btn-default placeOrder" ng-click="view.showPaymentScreenTrue()">Place Order</button>
</div>
<div class="" ng-show="view.showAboutUs === true">
  <img class="about_us_image" src="https://az-teas.com/wp-content/uploads/2014/05/tea-cup1.jpg" alt="tea" />
  <h1><em>About MEAN Tea!</em></h1>
  <h2>
    MEAN Tea was created for the sole reason of creating tea products that aspire to new heights in both quality and value.  Enhancing our value is our promise to deliver the highest level of customer service excellence, by serving you only the finest tea products available.
  </h2>
</div>
<div class="paymentScreen" ng-show="view.showPaymentScreen === true">
  <form name="payInfo" class="form-horizontal">
    <div class="form-group">
      <label for="inputUsername" class="col-sm-2 control-label" ng-model="username">Create Username:</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="inputUsername" placeholder="Username" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-sm-2 control-label" ng-model="password">Password:</label>
      <div class="col-sm-3">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword2" class="col-sm-2 control-label">Repeat Password:</label>
      <div class="col-sm-3">
        <input type="password" class="form-control" id="inputPassword2" placeholder="Password" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputFullName" class="col-sm-2 control-label" ng-model="fullName">Full Name:</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="inputFullName" placeholder="Full Name" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddressLine1" class="col-sm-2 control-label" ng-model="AddressLine1">Address Line 1:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="inputAddressLine1" placeholder="Address Line 1" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddressLine2" class="col-sm-2 control-label" ng-model="AddressLine2">Address Line 2:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="inputAddressLine2" placeholder="Address Line 2" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputCity" class="col-sm-2 control-label" ng-model="city">City:</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="inputCity" placeholder="City" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputState" class="col-sm-2 control-label" ng-model="state">State:</label>
      <div class="col-sm-2">
        <select class="form-control" id="inputState">
          <option>AL</option>
          <option>AK</option>
          <option>AZ</option>
          <option>AR</option>
          <option>CA</option>
          <option>CO</option>
          <option>CT</option>
          <option>DE</option>
          <option>FL</option>
          <option>GA</option>
          <option>HI</option>
          <option>ID</option>
          <option>IL</option>
          <option>IN</option>
          <option>IA</option>
          <option>KS</option>
          <option>KY</option>
          <option>LA</option>
          <option>ME</option>
          <option>MD</option>
          <option>MA</option>
          <option>MI</option>
          <option>MN</option>
          <option>MS</option>
          <option>MO</option>
          <option>MT</option>
          <option>NE</option>
          <option>NV</option>
          <option>NH</option>
          <option>NJ</option>
          <option>NM</option>
          <option>NY</option>
          <option>NC</option>
          <option>ND</option>
          <option>OH</option>
          <option>OK</option>
          <option>OR</option>
          <option>PA</option>
          <option>RI</option>
          <option>SC</option>
          <option>SD</option>
          <option>TN</option>
          <option>TX</option>
          <option>UT</option>
          <option>VT</option>
          <option>VA</option>
          <option>WA</option>
          <option>WV</option>
          <option>WI</option>
          <option>WY</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputZip" class="col-sm-2 control-label" ng-model="zip">Zip:</label>
      <div class="col-sm-3 zip">
        <input type="number" class="form-control" id="inputZip" maxlength="5" placeholder="Zip Code">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="shippingInfoCheck"> Click if billing information is the same.
          </label>
        </div>
      </div>
    </div>
    {{payInfo.$valid}}
  <hr>
    <div class="form-group">
      <label for="inputCC" class="col-sm-2 control-label" ng-model="creditCardNumber">Credit Card #:</label>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="inputCC" placeholder="####-####-####-####">
      </div>
    </div>
    <div class="form-group">
      <label for="inputCCExpiration" class="col-sm-2 control-label" ng-model="creditCardExpiration">Expiration Date:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="inputCCExpiration" placeholder="##/##">
      </div>
    </div>
    <div class="form-group">
      <label for="inputCCSecurity" class="col-sm-2 control-label" ng-model="creditCardSecurityCode">Security Code:</label>
      <div class="col-sm-2">
        <input type="number" class="form-control" id="inputCCSecurity">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="mailOptOut"> Click if you'd like to opt out from our mailing list.
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 submitOrder">
        <button type="submit" class="btn btn-warning" ng-click="view.orderConfirmation()">Submit Order</button>
      </div>
    </div>
  </form>
</div>
<div class="paymentScreenOrderTotal" ng-show="view.showPaymentScreenOrderTotal === true">
  <h1><strong>Order Summary:</strong></h1>
  <h2>Subtotal: {{view.orderTotal | currency}}</h2>
  <h2>Tax: {{view.orderTotal * 0.07 | currency}}</h3>
  <h2>Shipping/Handling: $5.00</h2>
  <hr>
  <h1><strong>Total:</strong> {{view.orderTotal + view.orderTotal * 0.07 + 5 | currency}}</h2>
</div>
<div class="thankYou" ng-show="view.viewOrderConfirmation === true">
  <h1>All of us at <strong>MEAN Tea</strong> appreciate your business!</h1>
  <h3>Expect a confirmation email shortly.  If there are any concerns with your order, please contact customer service at 1-800-888-8888.</h3>
</div>
